<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="RefreshInterval" value="240000" />
    <add key="EncriptedOrHashed" value="Encripted"/>
    <!--If Encripted, value="Encripted", if Hashed value="Hashed"-->
    <add key ="RijKey" value ="wUkNsQsTOr3H5KUsAWNgE3MDHQaeUDtVD6CRT6XuBJM="/>
    <add key="RijIV" value ="3EsSRjbXYXXmnSrCkrXbHg=="/>
    <!--Put in either 'true' or 'false' for the blnShowSocialMediaOnProfile-->
    <add key="blnShowSocialMediaOnProfile" value="true" />
    <add key="EnergyPrice" value="12"/>
    <add key="EmailServerTimeOut" value="30000"/>
    <add key="intOrganization" value="1" />
    <add key="FeedbackLengthInList" value="25"/>
    <!--Twitter-->
    <!--The following keys are used for the Twitter Integration-->
    <!--Both ConsumerSecret and AccessTokenSecret are encrypted-->
    <!--<add key="ConsumerKey" value="VqQcBdZUmeiHIplk1Q"/>
    <add key="ConsumerSecret" value="M9jR7nh9ezx3EtLOiva5oMifOiUgjImf9YsLcchJcc"/>
    <add key ="RequestToken" value="1395782822-ZnB7Bogu6Y8aLDrI1VIkvD6WmjpINgJZg5r7h4h"/>
    <add key ="AccessTokenSecret" value ="M8neWa28fZpTh68GiqoMLWeE8e2s5U8IUkyaqth7A"/>-->
  </appSettings>  
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Server=localhost;Integrated Security=true;Database=EVDemo" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!-- The following two items for google map with button -->
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false" />
    <authentication mode="Forms">
      <!--Two week expire 60*24*7*2-->
      <forms name="uc" loginUrl="~/Account/Login.aspx" timeout="43200" />
    </authentication>
    <authorization>
      <deny users="evfleet,santamonicafleet"/>
      <deny roles="Santa Monica Administrator" />
      <deny users="?" />
    </authorization>
    <membership>
      <providers>
        <clear />
        <!--<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordFormat="Encrypted" applicationName="/" />-->
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordFormat="Hashed" applicationName="/" />

      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
</configuration>